<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Chercher un déplacement</title>
</head>
<body>
	<div>
		<h2 class="background"><span class ="glyphicon glyphicon-th-list" aria-hidden="false">Déplacement</span></h2>

	</div>

	<div class="pull-right add">
		<button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter Déplacement
		</button>
	</div>
	<fieldset class="container spacer">
	<div class="container spacer">
		<table class="table table-striped table-bordered table-list">
			<thead>
				<tr>
					<th scope="col">Recherche Déplacement</th>	
				</tr>
			</thead>
			<tbody>
				<tr >
				<th>Mot clé : <input type="text" ng-model="motCle"
			ng-enter="getDeplacements()" />
		<button type="button" class="btn btn-primary" ng-click="getDeplacements()">Charger</button></th>
				</tr>
			</tbody>
		</table>
		
	</div>

	<div class="container">
		<table class="table table-striped table-bordered table-list">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Utilisateur</th>
					<th scope="col">Client</th>
					<th scope="col">Date de Deplacement</th>
					<th scope="col">Fiche d'intervention</th>
					<th class="col-tools"><span class="glyphicon glyphicon-wrench"
						aria-hidden="true"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in pageDeplacement.content">
					<td>{{p.id}}</td>
					<td>{{p.user}}</td>
					<td>{{p.client}}</td>
					<td>{{p.dateDeplacement}}</td>
					<td>{{p.file}}</td>
					<td align="left"><a class="btn btn-default"><span
							class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a
						class="btn btn-danger"><span class="glyphicon glyphicon-trash"
							aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
		</fieldset>
	<div class="container">
		<nav aria-label="...">
			<ul class="pagination pagination-lg">
				<li class="page-item cliquable"
					ng-class="{active:$index==pageCurrent}"
					ng-repeat="p in pages track by $index"><a
					class="page-link active" ng-click="gotoPage($index)">{{$index}}</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>